<div>
    <h1>Lorem Ipsu </h1>
        <article>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas molestie malesuada dictum. Proin justo diam, hendrerit id magna at, vulputate accumsan sem. Nam tristique vestibulum metus, quis convallis enim fringilla at. Curabitur porta mi eu lectus mollis maximus. Phasellus euismod in lacus congue consequat. Suspendisse eget scelerisque urna, a sodales nulla. Fusce porttitor placerat dui a tristique. Nam hendrerit varius pulvinar. Cras vulputate maximus cursus. Cras tempor sit amet lorem sit amet dictum. Pellentesque non justo et metus elementum lacinia eu quis nisi. Donec porttitor, massa sed venenatis tincidunt, purus metus sagittis erat, imperdiet faucibus lorem elit quis leo. Suspendisse eu neque vel nulla iaculis sagittis eu non ipsum. Nullam id ex augue. Donec imperdiet pulvinar nisi et ultricies. Donec lacinia ante in hendrerit accumsan.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas molestie malesuada dictum. Proin justo diam, hendrerit id magna at, vulputate accumsan sem. Nam tristique vestibulum metus, quis convallis enim fringilla at. Curabitur porta mi eu lectus mollis maximus. Phasellus euismod in lacus congue consequat. Suspendisse eget scelerisque urna, a sodales nulla. Fusce porttitor placerat dui a tristique. Nam hendrerit varius pulvinar. Cras vulputate maximus cursus. Cras tempor sit amet lorem sit amet dictum. Pellentesque non justo et metus elementum lacinia eu quis nisi. Donec porttitor, massa sed venenatis tincidunt, purus metus sagittis erat, imperdiet faucibus lorem elit quis leo. Suspendisse eu neque vel nulla iaculis sagittis eu non ipsum. Nullam id ex augue. Donec imperdiet pulvinar nisi et ultricies. Donec lacinia ante in hendrerit accumsan.</p>
        </article>

        @defer(on viewport) { <app-comments></app-comments>} @placeholder { <p>futures comments...</p> }
       
    
</div>


<app-user></app-user>